.btns {
    width: 250px;
    margin: 0 0 0 -18px;
}

button {
    margin: 5.5px 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.white {
    background-color: #e3e1d4;
    width: 52px;
    height: 35px;
    border-radius: 12px 12px 17px 17px;
    font-size: 13px;
}

.white:active {
    background-color: #e7e5de;
    transform: translateY(2px) translateX(2px);
}

.blue {
    background-color: #475a81;
    color: white;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
}

.blue:active {
    background-color: #414f6e;
    transform: translateY(2px) translateX(2px);
}

.blk {
    background-color: rgb(35, 35, 35);
    color: white;
    width: 50px;
    height: 28px;
    border-radius: 10px;
    font-size: 11px;
}

.blk:active {
    background-color: rgb(46, 46, 46);
    transform: translateY(2px) translateX(2px);
}

#ENTER {
    font-size: 11px;
}

/* #ArrowLeft {
    height: 45px;
    width: 32px;
    border-radius: 25px 30px 30px 25px;
    margin: 10px 10px;
}

#ArrowUp {
    width: 45px;
    height: 32px;
    border-radius: 25px 25px 30px 30px;
    margin: -20px 10px 0;
}

#ArrowDown {
    width: 45px;
    height: 32px;
    border-radius: 30px 30px 25px 25px;
}

#ArrowRight {
    height: 45px;
    width: 32px;
    border-radius: 30px 25px 25px 30px;
} */