.calc {
    color: rgb(62, 62, 62);
    max-width: 210px;
    height: 435px;
    background-color: #292927;
    padding: 33px;
    border: 4.5px solid rgb(111, 111, 111);
    border-radius: 25px 25px 80px 80px;
    margin: 7.5% auto;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.3);
  }