.calc {
    color: rgb(62, 62, 62);
    max-width: 215px;
    height: 435px;
    background-color: #292927;
    padding: 40px;
    border: 4.5px solid rgb(111, 111, 111);
    border-radius: 25px 25px 80px 80px;
    margin: 5% auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }