.snakeWindow {
    position: relative;
    height: 145.5px;
    margin: 5px auto 1px;
    font-size: 30px;
    font-family: 'digital-7';
    border: 5px rgba(34, 34, 34, 0.645) solid;
    border-radius: 5px;
    background-color: #8a9762;
}

.snakeTitle {
    font-size: 65px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 4px;
}

.snakeBtns {
    display: flex;
    justify-content: space-evenly;
    width: 170px;
    margin: 0 auto;
    padding: 5px;
}

.snakeBtns button {
    font-family: 'digital-7';
    font-size: 20px;
    color: #8a9762;
    border: #8a9762 dashed 2px;
    border-radius: 2px;
    background-color: rgb(59, 64, 57);
}

.snakeBtns button:active {
    /* transform: translateY(1px) translateX(1px); */
    background-color: rgb(64, 70, 62);
}

.snakeDot {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: rgb(59, 64, 57);
    border: 2px solid #8a9762;
    border-radius: 3px;
    margin: 0 auto;
    z-index: 2;
}

.food {
    position: absolute;
    height: 6px;
    width: 6px;
    border: 2px solid rgb(59, 64, 57);
    border-radius: 3px;
    margin: 1px auto 0;
    z-index: 1;
}

.exitText {
    position: absolute;
    bottom: 2px;
    left: 50%;
    font-size: 14px;
    z-index: 3;
    font-weight: bold;
}

.gameOver {
    font-size: 45px;
    text-align: center;
    margin-top: 6px;
    letter-spacing: 6px;
}

.endScreen .snakeBtns {
    display: flex;
    justify-content: space-evenly;
    width: 170px;
    margin: 0 auto;
    padding: 5px;
}