.snakeWindow {
    height: 145.5px;
    margin: 5px auto 1px;
    font-size: 30px;
    font-family: 'digital-7';
    border: 5px rgba(34, 34, 34, 0.645) solid;
    border-radius: 5px;
    background-color: #8a9762;
    position: relative;
}

.snakeTitle {
    font-size: 55px;
    text-align: center;
    margin-top: 20px;
}

.snakeBtns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* .snakeDot {
    position: aboslute;
    height: 20px;
    width: 20px;
    background-color: orange;
    margin: 0 auto;
} */