footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    height: 23px;
    background-color: rgba(248, 248, 248, 0.282);
    padding: 5px 0;
    margin-top: 10px;
}

.heart {
    position: relative;
}

.heart .tooltip {
    width: 115px;
    background-color: #474744;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.heart .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #474744 transparent transparent transparent;
  }

.heart:hover .tooltip {
    visibility: visible;
    opacity: 0.8;
}